{% extends 'base.html' %}

{% block contenido %}
    <h1>Listado de Oficinas</h1>
    <a href="{% url 'oficinaCreate' %}" class="btn btn-primary">Nueva Oficina</a>
    <div class="card">
      <div class="card-body">   
        <!-- Table with stripped rows -->
        <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <td><b>Nombre</b></td>
              <td>Ciudad</td>
              <td>Opciones</td>
            </tr>
          </thead>
          <tbody>
            {% for item in oficinas %}
            <tr>
              <td>{{item.nombre}}</td>
              <td>{{item.ciudad}}</td>
              <td>
                <a class="btn btn-warning" href="{% url 'oficinaEdit' item.id %}"><i class="ri-edit-2-line"></i></a>
                <a class="btn btn-danger" href="{% url 'oficinaDelete' item.id %}" role="button"><i class="ri-delete-bin-line"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
    
      </div>
    </div>    
{% endblock %}

